<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles/baseKat.css">
</head>
<body>
  <h1>Book list</h1>
  <p><a href="/">Home</a></p>
  <ul>
    <li><% console.log(arrItems) %></li>
    <% arrItems.forEach(item => { %>
    <li><%= item.title %></li>
    <li><%= item.author %></li>
    <li><%= item.description %></li>
    <% }) %>
  </ul>
</body>

</html>