<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Book_app</title>
  <link rel="stylesheet" href="base.css">
</head>
<body>
  <header><h1>Hi there</h1></header>
  
  
  <footer></footer>
  
</body>
</html>