
<!-- Top Navigation Menu -->
<div class="topnav">
  <!-- <a href="#home" class="active"></a> -->
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
    <a href="/searches/new">New Book</a>
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/menu.js"></script>
